body{
	padding: 10px;
	background-color: #ffffff;
	font-size: 100%;
    line-height: 1.25;
}

header{
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    text-align: center;
}

nav{
    margin: 0px;
    padding: 10px;
}

nav ul{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 35px;
    background-color: rgb(218, 178, 255);
}

nav li{
    display: inline-block;
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 20px 20px;
    font-size: 35px;
    background-color: rgb(218, 178, 255);
}

nav a{
    text-decoration: none;
}

nav a:visited{
    color: rgb(0, 0, 0);
}

nav a.current{
    text-decoration: underline;
    text-underline-offset: 10px;
}

h1, h2, h3{
    font-size: 48px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.banner{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

img{
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px, 10px, 10px, 10px;
    border: 10px double rgb(0, 0, 0);
    border-radius: 10px, 10px, 10px, 10px;
}

img:nth-of-type(2n) {
    border: 10px double rgb(151, 150, 150);
}

main img:hover {
    border: 10px double rgb(218, 178, 255);
}

main{
    text-align: center;
}

p{
    font-size: 100%;
    color: rgb(0, 0, 0);
    text-align: left;
}

footer p{
    text-align: center;
}

footer{
    display: inline-block;
    text-align: center;
    font-size: 100%;
    background-color: rgb(218, 178, 255);
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
